<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav bar</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="home.css">
    <script src="home.js"></script> 
</head>
<body>
    <nav>
        <img src="https://media.discordapp.net/attachments/1121385526335897620/1121877225738879067/logo.png?width=304&height=94">
        <a class="about" href="#">About</a>
    </nav>
    <form>
<div class="container">
    <div class="login">
        <div class="name">
      <label>Username</label><br>
      <input type="text" placeholder="Enter Username" name="uname" required>
    </div>
     <div class="pass">
      <label>Password</label><br>
        <input id="passfield"type="password" placeholder="Enter Password"  name="psw" required>  
    </div>
    <input type="checkbox" onclick="myFunction()">Show Password
        <button type="submit">Login</button><br>                                    
      <a href="#" class="forget">Forgot password</a>
    </div>
        <div class="signup">
            <p class="sign">Sign-up</p>
            <div class="all"><ul>
           <li> <a href="#" class="teacher">Teacher</a><br></li>
           <li><a href="#"class="CR">CR</a><br></li>
           <li><a href="#"class="student">Student</a></li>
             </ul>
        </div>
        
    </div>
    
       
</div>
</form>
<footer>&copy 2023 All Rights Reserved .</footer>
</body>
</html>