<nav class="navbar navbar-expand-lg bg-light border-bottom sticky-top bg-white" style="border-color: #afafaf;">
  <div class="container-fluid w-75">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag 'logo.png', width: "285rem"%>
      <a class="about" href="#">About</a>
    <% end %>
  </div>
</nav>
